<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Carga horária</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Programação Avançada</td>
            <td>80h</td>
        </tr>
        <tr>
            <td>Redes de Computadores</td>
            <td>60h</td>
        </tr>
        <tr>
            <td>Programação Linear</td>
            <td>80h</td>
        </tr>
        <tr>
            <td>Programação WEB</td>
            <td>60h</td>
        </tr>
    </tbody>
</table>

<!-- <div style="width: 1280px; margin: auto; text-align: center;">
    <h1>Instituição de Ensino</h1><br/>
    <p>cursos:</p>
    <div class="class form-group">
        <select class="from-control" id="cursoInput" [(ngModel)]="curso">
            <option></option>
            <option>C</option>
            <option>Java</option>
            <option>Python</option>
            <option>Mostrar todos</option>
        </select>
    </div>
    
    <br/>

    <table width="40%" align="center" border="1px">
        <tr>
            <td>Curso</td>
            <td>Carga horária</td>
        </tr>
        <tr>
            <td>{{curso}}</td>
        </tr>
    </table><br/>

    <button type="button" class="btn btn-primary" (click)="escolher()">Escolher curso</button><br/>
</div> -->